body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

header {
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
  margin: 0;
}

#typing {
  display: block;
  width: 100%;
  font-style: italic;
  padding: 1em 1em 0;
}

#messages {
  height: 50vh;
  background: #f0f0f0a6;
  overflow-y: scroll;
  padding: 1em;
  margin-bottom: 8px;
  border-radius: 4px;
}

span.handle {
  font-weight: bold;
}